* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetiva, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

/* Header */
.header {
  height: 50px;
  background-color: #00574B;
}